# ASP.NET Core
bin/
obj/

# User-specific files
.idea/
.idea/**/httpRequests/
*.DotSettings.user
.vs/
.vscode/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Configuration files
appsettings.Development.json 
appsettings.Production.json   
appsettings.json
secrets.json
Properties/              

# Build and publish output
publish/

# npm packages
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db

# MongoDB Database Data (if local files are used)
data/

# Docker
docker-compose.override.yml
Dockerfile