@page
@model CityExplorerV2.Pages.LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/filter.css">
    <script src="~/scripts/app.js" defer type="module"></script>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to main content</a>
<header>
    <nav>
        <div class="navbar">
            <a class="logo" href="/Index">City Explorer</a>

            <div class="nav-links">
                <a href="/index" class="nav-button">Home</a>
                <a href="/Register" class="nav-button">Register</a>
            </div>
        </div>
    </nav>
</header>

<main id="main-content">
    <section class="form-section" aria-labelledby="login-heading">
        <h1 id="login-heading">Login</h1>
        <form method="post" aria-describedby="login-response">
            <div>
                <label asp-for="Username">Username:</label>
                <input asp-for="Username" required/>
            </div>
            <div>
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type="password" required/>
            </div>
            <button type="submit">Login</button>
            <p id="login-response">@Model.Message</p>
        </form>
    </section>
</main>

<footer>
    <div class="footer-container">
        <p>&copy; 2025 City Explorer. All rights reserved.</p>
    </div>
</footer>
</body>
</html>