@page
@model CityExplorerV2.Pages.RegisterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/filter.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="~/css/auth.css">
    <script src="~/scripts/app.js" defer type="module"></script>
</head>
<body>
<a href="#main-content" class="skip-link">Skip to main content</a>
<header>
    <nav>
        <div class="navbar">
            <a class="logo" href="/Index">City Explorer</a>

            <div class="nav-links">
                <a href="/index" class="nav-button">Home</a>
                <a href="/Login" class="nav-button">Login</a>
            </div>
        </div>
    </nav>
</header>

<main id="main-content">
    @if (HttpContext.Session.GetString("Username") != null)
    {
        <p class="welcome-message">
            You are already signed in as, @HttpContext.Session.GetString("Username")
            <a href="/Logout" class="logout-button">Logout</a>
        </p>
    }
    @if (HttpContext.Session.GetString("IsAdmin") == "true")
    {
        <a href="/Admin/Dashboard" class="admin-button">Admin Dashboard</a>
    }
    <section class="form-section" aria-labelledby="register-heading">
        <h1 id="register-heading">Register</h1>
        <form method="post">
            @Html.AntiForgeryToken()
            <div>
                <label for="Username">Username:</label>
                <input id="Username" name="Username" placeholder="Username" required/>
            </div>
            <div>
                <label for="Password">Password:</label>
                <input id="Password" name="Password" type="password" placeholder="Password" required/>
            </div>
            <button type="submit">Register</button>
        </form>
    </section>
</main>

<footer>
    <div class="footer-container">
        <p>&copy; 2025 City Explorer. All rights reserved.</p>
    </div>
</footer>
</body>
</html>